body {
    /*overflow: hidden;*/
    /*margin: 10px;*/
}

.red-dot {
  fill: #F44336;
}

.navbar {
  background-color: #1a1a1a;
  color:white;
}

.navbar h1,h2,h3,h4,h5 {
  margin: 0 auto; 
  padding: 4px;
}

.photo-show {
}

.photo-show .slide-image {
  background: url(../images/slide1.jpg) no-repeat center center;
  -webkit-background-size: cover;
    -moz-background-size: cover;
      -o-background-size: cover;
        background-size: cover;
        height:750px;
        color:white;
}

.slide-image h1 {
  font-size:75px;
  margin: 0 auto;
}

.slide-image h2 {
  margin: 10px 0;
  background-color: rgba(0,0,0,0.5);
  padding:3px;
}

.hand-shake {
  height: 500px;
  background-color: #080808;
}

.testimonials {
  background-color: white;
}

.copy-one {
  height: 580px;
  background-color: gray;
}

.copy-two {
  height: 750px;
  background-color: #080808;
}

.map-section {
  height: 580px;
  background-color: white;
}
.slider {
    width: 100%;
    height: 600px;
    overflow: hidden;
    position: relative;
    background-image: url(wallpaper.jpg);
    /*background: #e6e6e6;*/
    margin-top: 20px;
}

.slide {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.cirle-center {
  display: inherit;
  /*text-align:center;*/
  /*display: block;*/
  margin: 0 auto;
}

/*h1 > span, h3 > span {*/
    /*background-color: rgba(244, 249, 251, 0.80);*/
    /*line-height: 2;*/
    /*padding: 10px;*/
/*}*/

.slide > h1 {
    width: 100%;
    top: 250px;
    text-align: center;
    color: white;
}

.slide > h3 {
    width: 100%;
    top: 180px;
}

.slide > h1, .slide > img, .slide > h3 {
    position: absolute;
}

.nonDraggableImage {
    -webkit-user-drag: none;
}

.avatar {
    top: 80px;
    left: 300px;
}
